<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <property name="LOG_ROOT" value="${LOG_ROOT:-logs}" />
    <property name="APP" value="${spring.application.name:-app}" />

    <!-- Use prudent so both JVMs can append safely to same file (still not perfect under very high concurrency) -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT}/application.log</file>
        <append>true</append>
        <prudent>true</prudent>
        <encoder>
            <pattern>%d{ISO8601} %-5level [%thread] [%X{traceId:-}- %X{orderId:-}] %logger{36} - (%X{appName:-${APP}}) %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ROOT}/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
